{% extends 'layout.html' %}

{% block body %}
	<h1>{{row.idNum}}</h1>
		<table class="table table-hover">
        	<thead>
           		<th>Course ID</th>
           		<th>First Name</th>
           		<th>Middle Name</th>
           		<th>Last Name</th>
           		<th>Sex</th>
       		</thead>
            	<tr>
               		<td>{{row.courseId}}</td>
               		<td>{{row.firstName}}</td>
               		<td>{{row.middleName}}</td>
               		<td>{{row.lastName}}</td>	
           			<td>{{row.sex}}</td>
           		</tr>    
    	</table>

	<br><h2>Update</h2>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="">
		<div class="form-group">
			{{render_field(form.courseId, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.firstName, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.middleName, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.lastName, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.sex, class_="form-control")}}
		</div>
		

		<p><input type="submit" class="btn btn-primary" value="Submit"></p>
		<a href="/listCourse" class="btn btn-primary">Show the list of Courses</a>

	</form>
{% endblock %}