{% extends 'layout.html' %}

{% block body %}
	<h1>{{row.courseId}}</h1>
		<table class="table table-hover">
        	<thead>
        		<th>Course ID</th>
           		<th>Course Name</th>
       		</thead>
            	<tr>
            		<td>{{row.courseId}}</td>
               		<td>{{row.courseName}}</td>
           		</tr>    
    	</table>

	<br><h2>Update</h2>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="">
		<div class="form-group">
			{{render_field(form.courseName, class_="form-control")}}
		</div>
		

		<p><input type="submit" class="btn btn-primary" value="Submit"></p>

	</form>
{% endblock %}